md-sidenav
  .menu-section
    padding 10px 0

  .menu-item
    display block
    width 100%
    line-height 48px
    height 48px
    font-size 18px
    overflow hidden
    text-decoration none
    padding 0 10px
    cursor pointer
    position relative
    color #666
    transition background 0.2s ease-out

    i 
      width 30px

    &.inbox
      color #00A6F8

    &.snoozed
      color #FBC02D

    &.done
      color #8BC34A

    input
      border none
      outline none
      color #666
      font-size 18px
      width 180px
      background transparent

    &.selected
      background #eee

    &.inbox.selected
      background RGBA(0, 166, 248, 0.1)

    &.snoozed.selected
      background RGBA(255, 194, 0, 0.1)

    &.done.selected
      background RGBA(112, 204, 73, 0.1)

  .section-title
    text-transform uppercase
    font-size 14px
    color #aaa
    padding 5px 10px
