#snooze-dialog
  width 400px

  .snooze-header, .snooze-action, .snooze-action-cancel
    line-height 50px
    color #666
    padding 0 10px

  .snooze-header
    color #fff
    background #FFC200
    text-align center
    font-weight bold
    font-size 22px

  .snooze-action
    background #fff
    cursor pointer
    font-size 18px

    &:hover
     background #008BEE
     color white

    .snooze-datetime
      float right

    .snooze-readable
      font-weight bold

  .snooze-action-cancel, .snooze-action-remove
    background #eee
    font-size 22px
    text-transform uppercase
    text-align center
    font-weight bold

  .snooze-action-remove
    background-color #E65100
    color #fff
