<div class="todo-list-wrap">
  <div class="todo-list-actions" ng-if="list.showActions">
    <md-button ng-click="list.addTodo()" aria-label="Add todo">
    <i class="fa fa-plus action-new"></i> New
    </md-button>
    <md-button ng-click="list.doneAll()" aria-label="Done all">
    <i class="fa fa-check action-done"></i> Done
    </md-button>
  </div>
  <div ng-class="list.listClass" class="todo-list">
    <div ng-repeat="todo in list.todos|filter: list.todoFilter()" class="todo-item fx-zoom-left fx-speed-400"
      ng-swipe-left="list.todoDelete(todo)"
      ng-swipe-right="list.todoDone(todo)"
      ng-dblclick="list.todoSnooze(todo)"
      >
      <div class="todo-item-actions">
        <div class="todo-item-done" ng-click="list.todoDone(todo)">
          <i class="fa fa-check"></i>
        </div>
        <div class="todo-item-snooze" ng-click="list.todoSnooze(todo)">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="todo-item-delete" ng-click="list.todoDelete(todo)">
          <i class="fa fa-remove"></i>
        </div>
      </div>
      <input 
      class="todo-content"
      ng-model="todo.content"
      ng-blur="list.saveTodo(todo)"
      ng-attr-id="todo-id-{{ todo.id }}"
      autocomplete="off"
      ></input>
    </div>
  </div>
</div>
