{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="todoApp" ng-controller="appCtrl as app">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="username" content="{{ username }}">
  <title>hook2do</title>
  <link rel="stylesheet" href="{% static 'css/deps.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body layout="horizontal">
{% verbatim %}
<md-sidenav layout="vertical" is-locked-open="$media('md')" component-id="left" class="md-sidenav-left md-whiteframe-z1">
<md-toolbar md-theme="{{ app.theme }}" md-theme-watch="true">
<h1 class="md-toolbar-tools">hook2do</h1>
</md-toolbar>
<md-content scroll-y flex ng-controller="menuCtrl as menu">
<section class="menu-section">
  <a href="#inbox" class="menu-item inbox" ink-ripple ng-class="{selected: menu.isSelected(-1)}"
    ng-click="menu.showInbox()"
    >
    <i class="fa fa-inbox"></i>Inbox
    <div class="md-ripple-container"></div>
  </a>
  <a href="#snoozed" class="menu-item snoozed" ink-ripple ng-class="{selected: menu.isSelected(-2)}"
    ng-click="menu.showSnoozed()"
    >
    <i class="fa fa-clock-o"></i>Snoozed
  </a>
  <a href="#done" class="menu-item done" ink-ripple ng-class="{selected: menu.isSelected(-3)}"
    ng-click="menu.showDone()"
    >
    <i class="fa fa-check"></i>Done
  </a>
</section>
<section class="menu-section" >
  <div class="section-title">lists</div>
  <div class="menu-item" ng-class="{selected: menu.isSelected(item.id)}" ng-repeat="item in menu.lists"
    ink-ripple ng-click="menu.showList(item.id)">
    <i class="fa fa-circle-o"></i><input
    type="text"
    ng-model="item.name"
    ng-show="menu.isSelected(item.id)"
    ng-blur="menu.saveList(item)"
    ng-attr-id="list-id-{{ item.id }}"
    /><span
      ng-bind="item.name" ng-hide="menu.isSelected(item.id)"></span>
  </div>
  <a class="menu-item add-list" ng-click="menu.addList()" ink-ripple>
    <i class="fa fa-plus-circle"></i>New List
  </a>
</section>
</md-content>
</md-sidenav>
{% endverbatim %}
<div layout="vertical" layout-fill role="main">
  {% verbatim %}
  <md-toolbar md-theme="{{ app.theme }}" md-theme-watch="true">
  <div class="md-toolbar-tools">
    <md-button aria-label="Show menu" ng-click="app.showMenu()" hide-md>
    <i class="fa fa-bars"></i>
    </md-button>
    sub title
  </div>
  </md-toolbar>
  {% endverbatim %}
<div layout="vertical" layout-fill role="main">
  <md-content flex ng-view scroll-y></md-content>
</div>
<script type="text/javascript" src="{% static 'js/deps.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
